<table width="700" border="0" align="center" cellpadding="0" cellspacing="0" style="font-size:8px">
            <tr> 
                <td width="700" align="center" valign="middle">
                    <table width="700" border="0" align="left" cellpadding="0" cellspacing="0">
                       <tr> 
                           <td width="700" colspan="2" align="center" style="text-align:center; font-size:8px;"><table width="700" border="0" cellspacing="3" cellpadding="5">
                             <tbody>
                               <tr>
                                 <td  colspan="4" align="center" style="text-align:center; font-size:12px;"><strong>CARTA COMPROMISO DE PROTECCIÓN CIVIL SARE</strong></td>
                               </tr>
                               <tr>
                                 <td width="340" colspan="2" align="left" style="text-align:left; font-size:10px;">&nbsp;</td>
                                 <td width="340" align="right" style="text-align: right; font-size:10px;"><span style="text-align:right; font-size:10px;">FECHA</span></td>
                                 <td width="340" align="center" style="text-align:center; font-size:10px;"><strong>'.actual_date().'</strong></td>
                               </tr>
							   <tr>
                                 <td colspan="4" align="center" style="text-align:center; font-size:12px;">&nbsp;</td>
                               </tr>
                               <tr>
                                 <td width="340" colspan="2" align="left" style="text-align:left; font-size:11px;">MOVITVO DE LA  CARTA</td>
                                 <td width="340" colspan="2" align="right" style="text-align:right; font-size:8px;">QUE EL INMUEBLE CUENTE CON LAS MEDIDAS NECESARIAS DE  SEGURIDAD DEN CASO DE ALGUNA EMERGENCIA O CONTINGENCIA</td>
                               </tr>
                               <tr>
                                 <td colspan="4" align="justify" style="text-align:justify; font-size:10px; padding:5px;"><p>&nbsp;</p>
								 <p>El que suscribe C.: <u><strong>'.strtoupper($Titular).'</strong></u>, con domicilio para oír y recibir notificaciones en: <u><strong>'.$domicilio.'</strong></u>; por este conducto, me  comprometo según lo dispuesto en el Libro Sexto, artículo 6.32 del Código  Administrativo del Estado de México, en el Listado de Generadores de Mediano y  Bajo Riesgo emitidos en el Reglamento del Libro Sexto del Código Administrativo  del Estado de México y artículo 201 del Bando Municipal de la Policía y  Gobierno 2014 de San Mateo Atenco; a implementar e instalar los equipos y  sistemas de seguridad que resulten necesarios a fin de garantizar la protección  de la vida, salud y patrimonio de mis clientes y empleados.</p>
                                   <p>En virtud de ello, en quince días hábiles a partir de la fecha, mi establecimiento con giro SARE denominado:</p>
								   <p style="text-align:center;"> <u><strong>'.strtoupper($DescGiroCom).'</strong></u> <br>
								     <br>
								     Con domicilio en:<br><u><strong>'.$domicilio.'</strong></u></p>
                                   <p>Deberá contar con:<br><br>REQUERIMIENTOS
                                   <ul>
                                     <li>Botiquín de Primeros Auxilios completo e  instalado con señalamiento.</li>
                                     <li>Ruta de Evacuación con señalamiento.</li>
                                     <li>Salida de Emergencia con señalamiento.</li>
                                     <li>Extintor(es) mínimo de 4.5kg de capacidad  visible y con señalamiento.</li>
                                     <li>Instalación Hidráulica en buenas condiciones.</li>
                                     <li>Instalación Eléctrica en buenas condiciones.</li>
                                     <li>El Tanque estacionario con instalaciones de gas  L.P. no puede tener más de 10 años de y los cilindros deben de contar con llave  de paso y con regulador de presión.</li>
                                     <li>Instalación sanitaria en buenas condiciones y  con señalamientos.</li>
                                     <li>Directorio de emergencia a la mano y en lugar  visible.</li>
                                   </ul>
								   </p>
                                   <p><strong>Los señalamientos deben ser de acuerdo a la Norma Oficial Mexicana  NOM-003-SEGOB-2011.</strong></p>
                                   <p style="font-size:8px; font-weight:bold">Nota:<br>
                                     En caso de incumplimiento será susceptible de aplicación de  las sanciones estipuladas en el artículo 6.36 del Código Administrativo del  Estado de México.<br>
                                     La empresa y/o el propietario se compromete a reemplazar el  material de curación y recargar extintor(es) en el menor tiempo posible, en  caso de ser utilizado o cumplan con su vigencia.</p>
                                   <p>Comprometiéndose y asumiendo la responsabilidad de dar  seguimiento oportuno a las medidas de seguridad que me indica la Dirección de  Protección Civil.                                   </p>
                                 </td>
                               </tr>
                               <tr>
                                 <td colspan="4" style="text-align:center; font-size:10px;"><p>ATENTAMENTE</p>
                                   <br>
                                 <p>C. <u><strong>'.strtoupper($Titular).'</strong></u></p></td>
                               </tr>
                             </tbody>
                           </table></td>
                        </tr>
                    </table>
                </td>
            </tr>
</table>