<table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="700" height="10" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:500; "><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="700" align="center" style="font-size:10px;"><strong>CROQUIS DE LOCALIZACIÓN</strong></td>
  </tr>
  <tr>
    <td width="700" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:8px; font-weight:300; ">&nbsp;</td>
  </tr>
  <tr>
    <td height="400" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:8px; font-weight:300; "><img src="'.$pdf->Image($imagePath, 12, 58, 194, 106, 'PNG', '', '', true, 150, '', false, false, 1, false, false, false).'"/></td>
  </tr>
  <tr>
    <td width="700" height="10" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:8px; font-weight:300; ">&nbsp;</td>
  </tr>
  <tr>
    <td width="700" height="20" align="center" style="text-align:center; font-size:10px"><strong>FUNDAMENTO LEGAL</strong></td>
    </tr>
      <tr>
        <td width="700" align="center" style="border-top:1px solid #a5a5a5; border-bottom:1px solid #a5a5a5; border-left:1px solid #a5a5a5; border-right:1px solid #a5a5a5;"><table width="680" border="0" align="center" cellpadding="5" cellspacing="5" style="text-align:justify; font-size:8px; font-weight:700;">
    <tr>
      <td>•	ARTÍCULO 143 DE LA CONSTITUCIÓN POLÍTICA DEL ESTADO LIBRE Y SOBERANO DE MÉXICO.<br>
•	ARTÍCULOS 3, 15, 19 FRACCIÓN VII Y 31 FRACCIÓN II DE LA LEY ORGÁNICA DE LA ADMINISTRACIÓN PÚBLICA DEL ESTADO DE MÉXICO.<br>
•	EN LA REFORMA DEL LIBRO QUINTO, TITULO TERCERO, CAPITULO SEGUNDO, SECCION SEGUNDA, ARTICULOS 5.55 Y 5.56 DEL CODIGO ADMINISTRATIVO DEL ESTADO DE MEXICO.<br>
•	ARTÍCULOS 5.1, 5.2, 5.3, 5.10 FRACCIÓN XII Y 5.62 DEL LIBRO QUINTO DEL CÓDIGO ADMINISTRATIVO DEL ESTADO DE MÉXICO.<br>
•	ARTÍCULOS 2, 4, 5, 6, 134, 137 Y TERCERO TRANSITORIO DEL REGLAMENTO DEL CÓDIGO ADMINISTRATIVO DEL ESTADO DE MÉXICO.<br>
•	ARTÍCULOS 1, 2, 3 FRACCIÓN III, 10, 13,18,19,21 Y 22 FRACCIÓN XVI DEL REGLAMENTO INTERIOR DE LA SECRETARÍA DE DESARROLLO <br>
•	URBANO Y VIVIENDA DEL ESTADO DE MÉXICO, PUBLICADO EN GACETA DE GOBIERNO EL DÍA PRIMERO DE JULIO DEL AÑO DOS MIL CINCO<br>
•	PLAN MUNICIPAL DE DESARROLLO URBANO DE SAN MATEO ATENCO PUBLICADO EN LA GACETA DE GOBIERNO DE FECHA LUNES 27 DE OCTUBRE DEL AÑO 2013.<br>
•	ARTÍCULO 144 FRACCIÓN XII DEL CÓDIGO FINANCIERO DEL ESTADO DE MÉXICO Y MUNICIPIOS.</td>
    </tr>
</table>

</td>
      </tr>
      <tr>
        <td height="20" align="center" style="text-align:center; font-size:10px">&nbsp;</td>
      </tr>
      <tr>
        <td width="700" height="20" align="center" style="text-align:center; font-size:10px"><strong>NORMAS APLICABLES A ESTA AUTORIZACION</strong></td>
      </tr>
      <tr>
        <td width="700" align="center" style="border-top:1px solid #a5a5a5; border-bottom:1px solid #a5a5a5; border-left:1px solid #a5a5a5; border-right:1px solid #a5a5a5;">
        	<table width="680" border="0" cellspacing="5" cellpadding="5" style="font-size:10px; text-align:justify; font-weight:700;">
                <tr>
                  <td><strong>-EL PRESENTE DOCUMENTO NO AUTORIZA LA CONSTRUCCION, REGULARIZACIÓN O MODIFICACIÓN ALGUNA DEL PREDIO O INMUEBLE.<br>
            -EL PRESENTE DOCUMENTO UNICAMENTE ES DE CARÁCTER INFORMATIVO.</strong></td>
                </tr>
            </table>

		</td>
      </tr>

</table>
