<table width="700" border="0" align="left" cellpadding="0" cellspacing="0">
            <tr> 
                <td width="681" align="center" valign="top">
                    <table width="700" border="0" cellpadding="0" cellspacing="0">
                        <tr> 
                            <td height="20" colspan="1" align="center"><strong>SECRETAR&Iacute;A DE  FINANZAS</strong></td>
                            <td height="20" colspan="1" align="center"><strong>FORMATO UNIVERSAL DE PAGO</strong></td>
                      </tr>

                        <tr>
                          <td height="20" colspan="2" align="center" style="text-align:center; border-top:1px solid #222222; font-size:10px; font-weight:700;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="350" align="center">L&Iacute;NEA DE CAPTURA PARA PAGO EN VENTANILLA
                                    <img src="https://sfpya.edomexico.gob.mx/barbecue/barcode?data=208000000010753223033473243&type=Code128&height=30" width="300" height="30"/> <br />
                                    208000 000010 753223 033473 243<br />
                                    POR FAVOR CAPTURE SIN ESPACIOS
                                
                            </td>

                            <td width="350">
                                <table width="300" align="right" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="160" height="20" align="right">Fecha de emisi&oacute;n:</td><td width="150" align="right">'.$fecha_solicitud.'</td>
                                    </tr>
                                     <tr>
                                         <td width="165" height="20"  align="right"> Fecha limite de pago:</td><td width="150"  align="right">31 de Diciembre de 2017</td>
                                    </tr>
                              </table>

                          </td>
                      </tr>


                        <tr>
                            <td width="350">

                            </td>

                          <td width="350" align="right" style="text-align:right; border-bottom:1px solid #222222; font-size:11px; font-weight:700;"><strong>Total a pagar:   $'.$importe_cedula.'</strong></td>
                        </tr>


                        <tr>
                          <td height="10" colspan="2" align="center">&nbsp;</td>
                      </tr>
                        <tr>
                          <td height="20" colspan="2" align="center"><strong>DATOS DEL CONTRIBUYENTE</strong></td>
                        </tr>
                        <tr>
                          <td colspan="2" align="center" style="text-align:center; border-top:1px solid #222222;">&nbsp;</td>
                        </tr>
                        <tr> 
                            <td height="30" colspan="2" align="center"><table width="700" border="0" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td width="390" height="20" align="right">NOMBRE</td>
                                  <td width="10" height="25">&nbsp;</td>
                                  <td width="300" height="20" align="center" style="text-align:center; border-bottom:1px solid #222222; font-size:10px; font-weight:700;">'.$nombre.' '.$aparteno.' '.$amaterno.'</td>
                                </tr>
                                <tr>
                                  <td width="390" height="20" align="right">CURP</td>
                                  <td height="25">&nbsp;</td>
                                  <td width="300" height="20" align="center" style="text-align:center; border-bottom:1px solid #222222; font-size:10px; font-weight:700;">'.$curp.'</td>
                                </tr>
                                <tr>
                                  <td width="390" height="20" align="right">SOLICITUD</td>
                                  <td width="10" height="25">&nbsp;</td>
                                  <td width="300" height="20" align="center" style="text-align:center; border-bottom:1px solid #222222; font-size:10px; font-weight:700;">'.$Folio.'</td>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td width="300" height="20">&nbsp;</td>
                                </tr>
                              </tbody>
                            </table></td>
                        </tr>


                      <tr> 
                            <td height="20" colspan="2" align="center"><strong>DATOS DE LA CONTRIBUCI&Oacute;N</strong></td>
                        </tr>


                        <tr> 
                            <td height="10" colspan="2"></td>
                        </tr>

                         

                        <tr valign="top"> 

                            <td colspan="2">
                                <table width="700" border="0" cellpadding="0" cellspacing="0">
                                    <tr> 
                                        <td width="80" height="20" valign="middle" style="text-align:center; border-top:1px solid #222222; border-bottom:1px solid #222222; font-size:10px; font-weight:700;">CLAVE</td>
                                        <td width="320" valign="middle" style="text-align:center; border-top:1px solid #222222; border-bottom:1px solid #222222; font-size:10px; font-weight:700;">CONCEPTO</td>
                                        <td width="100" valign="middle" style="text-align:center; border-top:1px solid #222222; border-bottom:1px solid #222222; font-size:10px; font-weight:700;">CANTIDAD</td>
                                        <td width="100" valign="middle" style="text-align:center; border-top:1px solid #222222; border-bottom:1px solid #222222; font-size:10px; font-weight:700;">TARIFA O TASA </td>
                                        <td width="100" valign="middle" style="text-align:center; border-top:1px solid #222222; border-bottom:1px solid #222222; font-size:10px; font-weight:700;">SUBTOTAL</td>
                                    </tr>
                                    <tr>
                                      <td height="10" colspan="5" align="center" valign="top" class="text">&nbsp;</td>
                                    </tr>
                                    <tr bgcolor="#F2F2F2"> 
                                        <td height="20" valign="top" align="center" class="text"> 208024</td>
                                        <td valign="top" align="left" class="text">Expedici&oacute;n de C&eacute;dula  Informativa de Zonificaci&oacute;n </td>
                                        <td valign="top" align="center" class="text">1</td>
                                        <td valign="top" align="right" class="text">'.$importe_cedula.'</td>
                                        <td valign="top" align="right" class="text">$'.$importe_cedula.'</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr> 
                            <td colspan="2"></td>
                        </tr>
                        <tr valign="top"> 
                            <td height="106" colspan="2">
                                <table width="700" border="0" cellpadding="0" cellspacing="0">
                                    
                                    <tr> 
                                        <td height="10" colspan="2" style="text-align:center; border-bottom:1px solid #222222;"></td>
                        			</tr>
                                    
                                    <tr>
                                        <td width="350">

                                        </td>
                                        
                                        <td width="350" align="right" style="text-align:right; border-top:1px solid #222222; border-bottom:1px solid #222222; font-size:12px; font-weight:700;"><br><br>
                                          TOTAL A PAGAR:   $'.$importe_cedula.'<br/>
                                                PAGAR EN UNA SOLA EXHIBICI&Oacute;N
                                            <br/>  
                                        </td>
                                    </tr>

                                    <tr> 
                                        <td height="10" colspan="4" style="text-align:center; border-top:1px solid #222222; border-bottom:1px solid #222222; font-size:10px; font-weight:700;"></td>
                                    </tr>


                                    <tr > 
                                        <td height="55" colspan="4" style="text-align:center; border-left:1px solid #222222; border-bottom:1px solid #222222; border-top:1px solid #222222; border-right:1px solid #222222; font-size:10px; font-weight:700;">ESTE DOCUMENTO NO ES COMPROBANTE DE PAGO, S&Oacute;LO ES V&Aacute;LIDO CON LA CERTIFICACI&Oacute;N O COMPROBANTE DE PAGO EMITIDO POR LA INSTITUCI&Oacute;N DE CR&Eacute;DITO O ESTABLECIMIENTOS MERCANTILES AUTORIZADOS.</td>
                                    </tr>

                                  <tr>
                                      <td height="10" colspan="4">&nbsp;</td>
                                  </tr>
                                  <tr> 
                                        <td height="20" colspan="4" style="border-bottom:1px solid #222222; font-size:10px; font-weight:700;">
                                               PAGO EN VENTANILLA DE LAS SIGUIENTES INSTITUCIONES AUTORIZADAS
                                    </td>
                                    </tr>
                                    <tr valign="top">
                                      <td height="10" colspan="4" align="center">&nbsp;</td>
                                  </tr>
                                    <tr valign="top"> 
                                        <td height="100" colspan="4" align="center"><table width="700" border="0" align="center" cellpadding="0" cellspacing="2">
                                          <tr>
                                            <td width="25%" align="left" style="font-size:10px; font-weight:700;">AFIRME TRN0827</td>
                                            <td width="25%" align="left" style="font-size:10px; font-weight:700;">BANCO AZTECA</td>
                                            <td width="25%" align="left" style="font-size:10px; font-weight:700;">BANCO DEL BAJ&Iacute;O 453</td>
                                            <td width="25%" align="left" style="font-size:10px; font-weight:700;">BANORTE-IXE 31681</td>
                                          </tr>
                                          <tr>
                                            <td width="25%" align="left" style="font-size:10px; font-weight:700;">BANSEFI</td>
                                            <td width="25%" align="left" style="font-size:10px; font-weight:700;">BBVA BANCOMER CIE1336177</td>
                                            <td width="25%" align="left" style="font-size:10px; font-weight:700;">CHEDRAUI</td>
                                            <td width="25%" align="left" style="font-size:10px; font-weight:700;">CI BANCO</td>
                                          </tr>
                                          <tr>
                                            <td width="25%" align="left" style="font-size:10px; font-weight:700;">CITIBANAMEX PA:1840-04</td>
                                            <td width="25%" align="left" style="font-size:10px; font-weight:700;">COMERCIAL CITY FRESKO </td>
                                            <td width="25%" align="left" style="font-size:10px; font-weight:700;">COMERCIAL MEXICANA </td>
                                            <td width="25%" align="left" style="font-size:10px; font-weight:700;">FARM. GUADALAJARA/ INTERCAM BANCO/ SUPER KOMPRAS</td>
                                          </tr>
                                          <tr>
                                            <td width="25%" align="left" style="font-size:10px; font-weight:700;">FARMACIAS DEL AHORRO/ EXTRA/ CIRCULO K/ 7-ELEVEN</td>
                                            <td width="25%" align="left" style="font-size:10px; font-weight:700;">HSBC 7960</td>
                                            <td width="25%" align="left" style="font-size:10px; font-weight:700;">INBURSA</td>
                                            <td width="25%" align="left" style="font-size:10px; font-weight:700;">SANTANDER 1157</td>
                                          </tr>
                                          <tr>
                                            <td width="25%" align="left" style="font-size:10px; font-weight:700;">SCOTIABANK 1093</td>
                                            <td width="25%" align="left" style="font-size:10px; font-weight:700;">SORIANA</td>
                                            <td width="25%" align="left" style="font-size:10px; font-weight:700;">SUMESA</td>
                                            <td width="25%" align="left" style="font-size:10px; font-weight:700;">TELECOMM - TEL&Eacute;GRAFOS </td>
                                          </tr>
                                        </table>                                          <!-- aqui va el codigo--></td>
                                    </tr>
                                </table></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
              <td height="10" colspan="1">&nbsp;</td>
            </tr>
            <tr> 
                <td colspan="1" style="text-align:justify; font-size:10px; font-weight:700; border-left:1px solid #222222; border-top:1px solid #222222; border-right:1px solid #222222;">Por favor verifique que la l&iacute;nea de captura y el importe que aparece en el comprobante de pago que emite el Centro Autorizado de Pago (Banco o Establecimiento Mercantil) coincidan con la informaci&oacute;n impresa en este Formato Universal de Pago.</td>
            </tr>
             <tr>
               <td height="10" colspan="1" style="text-align:justify; font-size:11px; font-weight:700; border-left:1px solid #222222; border-right:1px solid #222222;">&nbsp;</td>
  </tr>
             <tr> 
                <td colspan="1" style="text-align: justify; font-size: 10px; font-weight: 700; border-left:1px solid #222222; border-bottom:1px solid #222222; border-right:1px solid #222222;"> CON FUNDAMENTO EN LOS ART&Iacute;CULOS 107 y 176 DEL C&Oacute;DIGO FINANCIERO DEL ESTADO DE M&Eacute;XICO Y MUNICIPIOS MANIFIESTO BAJO PROTESTA DE DECIR VERDAD QUE SON CIERTOS LOS DATOS QUE SE MUESTRAN EN LA PRESENTE DECLARACI&Oacute; </td>
            </tr>
            <tr>
                <td height="10px" style="border-bottom:1px solid #222222;">
                </td>
            </tr>
            
        </table>